# Dados brutos (baixar do Kaggle)
data/
*.zip

# Cache Python
__pycache__/
*.pyc
*.pyo

# Ambiente virtual
venv/
.venv/

# Streamlit
.streamlit/

# Arquivos gerados localmente
*.pdf
*.docx

# Node
node_modules/
package-lock.json
